body {
    background-color: cornsilk;
    color: saddlebrown;
    font-family: Arial;
    margin: 0px;
}

header {
    background-color: darksalmon;
    color: maroon;
    padding: 15px;
    font-size: 16pt;
}

footer {
    background-color: darksalmon;
    color: maroon;
    padding: 50px;
    margin: 0px;
    font-style: italic;
    text-align: right;
}

a {
    color: green;
    text-decoration: none;
}