body {
    background-color: cornsilk;
    color: saddlebrown;
    font-family: Arial;
    margin: 0px;
}

header {
    background: linear-gradient(to right bottom,red, orange, yellow, green, lightblue, blue, purple);
    color: maroon;
    padding: 15px;
    font-size: 16pt;
}

footer {
    background: linear-gradient(to right bottom,red, orange, yellow, green, lightblue, blue, purple);
    color: maroon;
    padding: 50px;
    margin: 0px;
    font-style: italic;
    text-align: right;
}

a {
    color: green;
    text-decoration: none;
}

a:visited {
    color:palevioletred;
    background-color: blue;
}

a:hover {
    color:red;
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
}

a:active {
    color: green;
    background-color: yellow;
}